// .container {
//   width: 960px;
//   margin: 0 auto;
//   &::after,
//   &::before {
//     content: "";
//     display: table;
//     clear: both;
//   }
// }

// Variaveis do Grid

$colunas: 12;
$gutter: 20px;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

// Box-sizing

*,
*::after,
*::before {
  box-sizing: border-box;
}

//  Mixin de mediaquery

@mixin device($size) {
  @if $size == l {
    @media screen and (min-width: #{$l-device}) {
      @content;
    }
  } @else if $size == m {
    @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 1}) {
      @content;
    }
  } @else if $size == s {
    @media screen and (max-width: #{$m-device - 1}) {
      @content;
    }
  }
}

// Função Grid

@function grid($coluna, $offset: false) {
  $width: $coluna / $colunas * 100 + "%";
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }
  @return $result;
}

// Gera as classes de grid

@for $i from 1 through $colunas {
  .grid-#{$i} {
    width: grid($i);
  }
}

// Mixin Estrutura do Grid

@mixin grid-structure {
  float: left;
  min-height: 1px;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
  @include device(s) {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

// Seletor para todos os grids

[class^="grid-"] {
  @include grid-structure;
}

// Gera as classes de offset

@for $i from 1 through $colunas {
  .offset-#{$i} {
    margin-left: grid($i, offset);
    @extend %offset;
  }
}

@include device(s) {
  %offset {
    margin-left: 0px;
  }
}

// Mixin Clearfix

@mixin clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: $l-device;
  margin: 0 auto;
  position: relative;
  @include device(m) {
    max-width: $m-device;
  }
  @include device(s) {
    max-width: $s-device;
    padding-left: 10px;
    padding-right: 10px;
  }
  @include clearfix;
}

.container {
  @include container;
}

@mixin row {
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
  position: relative;
  @include device(s) {
    margin-left: 0;
    margin-right: 0;
  }
  @include clearfix;
}

.row {
  @include row;
}
